# .aliases: alias long commands to shorter ones
# Source: @mathiasbynens

# Always use color output for `ls`
alias ls="command ls ${colorflag}"
export LS_COLORS='no=00:fi=00:di=01;34:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Enable aliases to be sudo’ed
alias sudo='sudo '


# Brown CS

# SSH into CS Department account
alias ssh_aeleti="ssh -Y aeleti@ssh.cs.brown.edu"

# Mount and unmount CS Department account using SSHFS
# Additional options courtesy: http://eddmann.com/posts/mounting-an-osx-ssh-volume-using-fuse-and-sshfs/

mkdir -p ~/aeleti 2>/dev/null # Create directory if it doesn't exist
alias mount_aeleti="sshfs aeleti@ssh.cs.brown.edu:/home/aeleti ~/aeleti -oping_diskarb,reconnect,defer_permissions,negative_vncache,noappledouble,volname=aeleti"
alias unmount_aeleti="umount -f ~/aeleti"

# Extra steps to setup course mounting:
#  - Create a group in System Preferences called "cs1380(h)ta"
#  - Add yourself to this group; this deals with permissions issues
mkdir -p ~/cs1380 2>/dev/null # Create directory if it doesn't exist
alias mount_cs1380="sshfs aeleti@ssh.cs.brown.edu:/course/cs1380 /Users/athyuttamre/cs1380 -oping_diskarb,reconnect,defer_permissions,negative_vncache,noappledouble,volname=cs1380"
alias unmount_cs1380="umount -f /Users/athyuttamre/cs1380"

mkdir -p ~/www 2>/dev/null
alias mount_www="sshfs aeleti@ssh.cs.brown.edu:/pro/web/web/courses/cs1380 /Users/athyuttamre/www -oping_diskarb,reconnect,defer_permissions,negative_vncache,noappledouble,volname=www"
alias unmount_www="umount -f /Users/athyuttamre/www"

# Speed up Time Machine; useful when you need to make a backup quickly
# Source: http://www.mackungfu.org/massively-speed-up-time-capsule-time-machine-backups
alias speedytm="sudo sysctl debug.lowpri_throttle_enabled=0"
