# .editorconfig: EditorConfig is a file format and collection of text editor
# plugins for maintaining consistent coding styles between different editors and IDEs.
# Source: @mathiasbynens, @webpro

root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
